body,ul,ol,li,h1,h2,h3,h4,h5,h6{margin: 0;padding: 0;}
body{background: ;font-family: ;}
a{text-decoration: none;color: #1155CC}
a:hover{text-decoration: underline;}

#header_area {
  background: #f1f1f1 none repeat scroll 0 0;
  padding: 15px 40px;
  border-bottom: 1px solid #e5e5e5;
}
#header_area:after{content: "";display: block;clear: both;}
#content_area{background: #fff;}
#content_area:after{display: block;content: "";clear: both;}
.glogo {
  float: left;
  overflow: hidden;
}
.glogo img{width: 112px;height: 36px;}
.singup {
  float: right;
  overflow: hidden;
  margin-top: 5px;
}
.singinbutton {
  background: rgba(0, 0, 0, 0) linear-gradient(#4d90fd, #4787ee) repeat scroll 0 0;
  border: 1px solid #2f5bb7;
  border-radius: 2px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  padding: 4px 10px;
  cursor:pointer;
}
.singinbutton:hover{background: linear-gradient(#4D90FE, #357AE8)}
.center_content {
  margin: 30px auto;
  width: 70%;
}
.center_content h1 {
  color: #555;
  font-family: "Open Sans",arial;
  font-size: 38px;
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center;
}
.left_content{float: left;overflow: hidden;width: 50%;text-align: center;}
.top_div{}
.top_div h3,.buttom_div h3{
	color: #737373;
	font-family: 'Open Sans',arial;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 15px;
	text-align: center;
}
.top_div p,.buttom_div p{
	color: #737373;
	font-family: 'Open Sans',arial;
	font-size: 13px;
	margin-bottom: 40px;
	text-align: center;
}
.top_div img, .buttom_div img {
  width: 70%;
}
.buttom_div{margin-top: 80px;}
.right_content{float: left;overflow: hidden;width: 50%;}
.google_sing_up_form {
  float: right;
  overflow: hidden;
  width: 360px;
}
.google_fornsss {
  background: #f1f1f1 none repeat scroll 0 0;
  padding: 25px;
}
.google_fornsss label {
  color: #222222;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  width: 100%;
  font-size: 16px;
}
.google_fornsss input[type="text"], .google_fornsss input[type="password"] {
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
  padding: 7px 5px;
}
.google_fornsss input[type="text"]:hover,.google_fornsss input[type="password"]:hover{border: 1px solid #B9B9B9;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;}
.name{overflow: hidden;}
.hafname1 {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 45%;
}
.hafname2 {
  float: right;
  overflow: hidden;
  width: 45%;
}
.full_width_area{}
.full {
  display: block;
  width: 96%;
}
.birthday{overflow: hidden;}
.monty {
  background: #f3f3f3 none repeat scroll 0 0;
  border: 1px solid #d9d9d9;
  padding: 6px 20px;
}
.monty:hover{box-shadow: 0 0 6px #ddd}
.date{width: 45px;}
.year{width: 112px;}
.gender_and_other{}
.gender_select {
  background: #f3f3f3 none repeat scroll 0 0;
  border: 1px solid #d9d9d9;
  margin-bottom: 15px;
  padding: 6px 20px;
  width: 100%;
}
#flag {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  padding: 6px 0;
}
#flag:hover{background: #f1f1f1;cursor:pointer;}
.mobile{overflow: hidden;}
.phone {
  display: inline-block;
  position: relative;
  right: 5px;
  width: 77%;
}
.capchea{overflow: hidden;}
#checkboxs,#agreebox {
  float: left;
  margin-right: 10px;
  overflow: hidden;
}	
.google_fornsss .checkbox .checkclass {
  color: #222222;
  font-size: 14px;
  font-weight: normal;
  width: 90%;
}
.images_area {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e5e5e5;
}
.images_area img{width: 100%;}
.under_hrline {
  background: #e5e5e5 none repeat scroll 0 0;
  border: medium none;
  height: 1px;
  margin-top: -2px;
  width: 100%;
}
.images_box {padding: 10px;padding-bottom: 5px;}
.images_box .logo_box {
  display: inline-block;
}
.images_box .logo_box ul{list-style: none;text-align: right;}
.images_box .logo_box ul li{display: inline-block;}
.images_box .logo_box ul li img{width: 20px;height: 20px;display: inline-block;cursor:pointer;}
.images_box .logo_box ul li img:hover{}
#cap {
  width: 70%;
}
.locationss {
  margin-top: 15px;
}
#location {
  background: #f3f3f3 none repeat scroll 0 0;
  border: 1px solid #ddd;
}
#location:hover{box-shadow: 0 0 5px #ddd;}
.checkbox {
  margin-top: 22px;
}
.nextbutton {
  float: right;
  margin-top: 15px;
}
.learn_more {
  color: #999999;
  font-size: 13px;
  text-align: center;
  margin-top: 8px;
}
.logo_box{}
#footer_area {
  border-top: 1px solid #ebebeb;
  padding: 10px;
  margin-top: 50px;
}
.left_box{float: left;overflow: hidden;}
.left_box ul {
  list-style: outside none none;
  text-align: left;
}
.left_box ul li{display: inline-block;}
.left_box ul li a {
  color: #333333;
  display: inline-block;
  font-size: 12px;
  padding: 8px;
}
.left_box ul li a:hover{}
.right_box{float: right;overflow: hidden;}
.right_box img{position: relative;top: 5px;}

/* responsive css */

@media all and (max-width: 1032px) {
  .left_content{display: none;}
  .right_content{float: none;margin: auto;width: 370px;}
  .center_content{width: 100%;}
  .google_sing_up_form{float: none;}
} 

@media all and (max-width: 570px) {
  .center_content h1{font-size: 30px;}
  .google_sing_up_form{width: 95%;margin: auto}

}

@media all and (max-width: 370px) {
  .google_sing_up_form{width: 80%;margin: auto}
  .center_content{width: 100%;}
  .right_content{width: 100%;}
  .google_sing_up_form{width: 100%;}
  .hafname1{width: 95%;}
  .hafname2{width: 95%;float: left;}
}